.row, #parent{
    height: 100%;
}

#pad{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    border: none;
    overflow: auto;
    resize: none;
    min-height: 500px;
    padding: 0px 30px 0px 30px;
    box-shadow: 5px 5px 30px grey;
    background-color: white;
}



.postTitle{
    font-size: 50px;
}

.smFooter{
    float: right;
}
.fa-twitter:hover{
    background-color: #55acee;
    color: white;
    border-radius: 20px;
}

.fa-facebook:hover{
    background-color: #3B5998;
    color: white;
    border-radius: 20px;
}

a{
    color: black;
}