<div ng-include="'components/navbar/navbar.html'"></div>

<div id=parent class='container'>
    <div class=container>
        <div class='text-center' ng-hide='preview'>
        <label>Picture title: <input type="checkbox" ng-model='picture'></label>
        <input id=titleInp class='text-center' type='text' placeholder='Title' ng-model='editPost.name'>
        <input id=authorInp class='text-center' type='text' placeholder='Author' ng-model='editPost.author'>
    </div>
        <section class='row'>
        <div class='hidden-xs hidden-sm col-md-2 col-lg-2 '>
        </div>
        <textarea class='col-xs-12 col-sm-12 col-md-8 col-lg-8 inline-block center-block post' id='pad' ng-hide='preview' ng-model='editPost.markdown'>Write the text here...</textarea>
        <div class='mdl-grid matPost'>
            <div class='mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col' id=markdown ng-show='preview' ng-bind-html='editPost.body | toTrusted'></div>
        </div>
    </section>
        <div class='row'>
        <div class='col-xs-6 col-md-6 col-lg-6'>
            <input id='tagInp' class='text-center' type=text placeholder='Tags (seperate by comma)' ng-model='postTags' ng-hide='preview'>
            <input id='colInp' class='text-center' type=text placeholder='Title Color (name or hexcode)' ng-model='editPost.titleColor' ng-hide='preview'>
            <input id='picInp' class='text-center' type=text placeholder='Picture URL' ng-model='editPost.thumbPic' ng-show='picture && !preview'>
            <input id='titleStyleing' class='text-center' type=text placeholder='Add Styling to the title card' ng-model='editPost.titleStyleing' ng-hide='preview'>
        </div>
        <div class='col-xs-4 col-md-4 col-lg-4'>
            <button class='btn btn-warning text-center' ng-click='convert(editPost.markdown, editPost.postDate)' ng-hide='preview'>Preview</button>
            <button class='btn btn-danger' ng-click='goBack()' ng-show='preview'>Cancel</button>
            <button class='btn btn-success' ng-click='savePost()' ng-show='preview'>Save</button>
        </div>
    </div>
    </div>
</div>
