.headTitle{
    text-decoration: none !important;
    color: black;
    padding-left: 5px;
}
.smallHeadTitle{
    border-bottom: 2px purple solid;
}

.test{
    vertical-align: middle;
}

.custNav{
    background-color: white;
    border-bottom: 2px solid;
    
}

.navbar-default .navbar-collapse{
    border-color: purple;
    background-color: ivory;
}

.clearNav{
    background-color: white;
    border-color: white;
    background-color: ivory;
}

button.btn.btn-default {
  height: 34px;
}

/*.navbar.center {
    text-align: center;
}
.navbar.center .nav {
    float: none;
    display:inline-block;
}*/


.fa-twitter.navSM:hover{
    color: #55acee;
    border-radius: 60px;
    background-color: transparent;
}

.fa-github.navSM:hover{
    color: #4078c0;
    border-radius: 60px;
}

.fa-stack.navSM{
    padding-top: 5px;
}