.headTitle{
    text-decoration: none !important;
    color: black;
    padding-left: 5px;
}
.smallHeadTitle{
    border-bottom: 2px purple solid;
}

.test{
    vertical-align: middle;
}

.custNav{
    background-color: white;
    border-bottom: 2px solid;
    
}

.navbar-default .navbar-collapse{
    border-color: purple;
    background-color: ivory;
}

.clearNav{
    background-color: white;
    border-color: white;
    background-color: ivory;
}

button.btn.btn-default {
  height: 34px;
}

/*.navbar.center {
    text-align: center;
}
.navbar.center .nav {
    float: none;
    display:inline-block;
}*/

#searchForm, #demo-menu-lower-right{
    max-width: 20%;
    float: right;
}

#demo-menu-lower-right{
    margin: 15px 0px 30px 0px;
}