<h1 class='headTitle hidden-xs text-center' >Glenn Nausley</h1>

<div class="navbar center navbar-default navbar-static-top clearNav" ng-controller="NavbarCtrl">
  <h3 class='headTitle text-left visible-xs'>Glenn Nausley
    <!-- Right aligned menu below button -->
<button id="demo-menu-lower-right"
        class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-right">
  <li class="mdl-menu__item">Some Action</li>
  <li class="mdl-menu__item">Another Action</li>
  <li disabled class="mdl-menu__item">Disabled Action</li>
  <li class="mdl-menu__item">Yet Another Action</li>
</ul>
  
    <form id='searchForm'>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable textfield-demo">
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="searchInp" />
              <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
            </div>
            <label class="mdl-button mdl-js-button mdl-button--icon" for="searchInp" ng_model='query' ng-click='searchSite(query)'>
              <i class="material-icons">search</i>
            </label>
        </div>
      </form>
      

  </h3>
  
  
  
  <!--
  <div class="container">
    <div class="navbar-header smallHeadTitle">
      <h1 class='headTitle text-left visible-xs' >Glenn Nausley
        <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <form id='searchForm'>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable textfield-demo">
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="sample6" />
              <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
            </div>
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
              <i class="material-icons">search</i>
            </label>
        </div>
      </form>
      </h1>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse custNav" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}" class='center-block'>
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>

    </div>
  </div>
  -->
</div>